*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	font: 12px/150% arial,verdana,"\5b8b\4f53";
	color: #666;
	background: #fff;
}
a{
	text-decoration: none;
	color: #7B7B7B;
}
div{
	display: block;
}
p{
	display: block;
}
.header{
	background-color: white;
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 11;
	display: block;
	top: 0;
	left: 0;
}
.header ul{
	width: 60%;
	margin: 0 auto;
	height: 50px;
	display: flex;
	justify-content: space-between;
	line-height: 50px;
}
.header ul li{
	text-align: right;
	display: inline-block;
}
.header ul li:nth-child(1){
	text-align: left;
}
.header ul li a img{
	width: 50px;
	height: 21px;	
}
.content{
	padding-top: 50px;
	width: 80%;
	overflow: hidden;
	background: white;
	margin: 0 auto;
}
.title h1{
	text-align: center;
	margin: 100px 0;
	font-size: 35px;
	font-weight: 700;
	color: #333;
}
.con{
	float: left;
	width: 33%;
	height: 50px;
	margin-bottom: 100px;
}
.con span{
	margin-bottom: 10px;
	display: inline-block;
}
.con span:first-child{
	font-size: 16px;
	color: #333;
}
.picture img{
	width: 100%;
	margin-bottom: 50px;
}
.footer{
	background: #eee;
	width: 100%;
	padding-bottom: 20px;
}
.footer-content{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.message{
	display: inline-block;
	margin-top: 30px;
}
.message dt{
	height: 40px;
	min-width: 60px;
	font: 700 14px/40px "-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei";
}
.message dd{
	height: 26px;
	margin: 0 auto;
	font: 12px/26px "-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei";
	color: #666;
}
.message4 input:first-child{
	border-radius: 3px;
	height: 25px;
	width: 125px;
	padding-left: 5px;
	border: 0;
}
.message4 input:last-child{
	background-color: #E20110;
	color: white;
	display: inline-block;
	width: 50px;
	margin-left: 5px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: #E20110;
	z-index: 2;
	border-radius: 3px;
}
.message4 img{
	margin-top: 7px;
	margin-right: 5px;
	width: 26px;
	height: 26px;
	border: 0;
	vertical-align: middle;
}
.footer-message{
	text-align: center;
	padding-top: 50px;
}
.footer-message ul{
	display: block;
	height: 120px;
	font: 12px/20px "microsoft yahei";
}
.footer-message li{
	height: 20px;
	margin-bottom: 3px;
}
.footer-message a{
	color: #7B7B7B;
}
.message a:hover{
	border-bottom: 1px solid black;
}
.message4 a:hover{
	border: 0;
}
